#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* JIS Aliases */

#define JA_MINS MINUS      // -
#define JA_EQL  LS(MINUS)  // =
#define JA_HAT  EQUAL      // ^
#define JA_TILD LS(EQUAL)  // ~
#define JA_AT   LBKT       // @
#define JA_LBKT RBKT       // [
#define JA_RBKT BSLH       // ]
#define JA_LBRC LS(RBKT)   // {
#define JA_RBRC LS(BSLH)   // }
#define JA_SCLN SEMI       // ;
#define JA_PLUS LS(SEMI)   // +
#define JA_COLN SQT        // :
#define JA_ASTR LS(SQT)    // *
#define JA_YEN    INT3       // ¥
#define JA_PIPE   LS(INT3)   // |
#define JA_BSLASH INT1       // \
#define JA_UNDS   LS(INT1)   // _
#define JA_ZKHK   GRAVE      // 半角/全角

/ {
    behaviors {
        scroll_middle: scroll_middle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };
    };

    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <100>;
    };

    zip_xy_to_scroll_mapper: zip_xy_to_scroll_mapper {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        map = <0 8>, <1 6>;
    };

    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <6>;
        };

        setting_mode {
            bindings = <&mo 6>;
            key-positions = <64 65 63>;
        };
    };

    pointing_listener: pointing_listener {
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_temp_layer 1 500>;

        scroll {
            layers = <2>;
            input-processors = <&zip_xy_to_scroll_mapper>;
        };
    };

    pointing_device_split_listener: pointing_device_split_listener {
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_temp_layer 1 500>;

        scroll {
            layers = <2>;
            input-processors = <&zip_xy_to_scroll_mapper>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC      &kp N1        &kp N2    &kp N3  &kp N4            &kp N5                                  &kp N6            &kp N7  &kp N8     &kp N9    &kp N0           &kp JA_MINS
&kp TAB      &kp Q         &kp W     &kp E   &kp R             &kp T                                   &kp Y             &kp U   &kp I      &kp O     &kp P            &kp JA_AT
&lt 5 LCTRL  &kp A         &kp S     &kp D   &kp F             &kp G          &kp JA_YEN  &kp JA_LBKT  &kp H             &kp J   &kp K      &kp L     &kp JA_SCLN      &kp JA_COLN
&kp LSHFT    &kp Z         &kp X     &kp C   &kp V             &kp B          &kp JA_HAT  &kp JA_RBKT  &kp N             &kp M   &kp COMMA  &kp DOT   &kp SLASH        &kp JA_BSLASH
&kp LCTRL    &kp LEFT_WIN  &kp LALT  &trans  &kp INT_MUHENKAN  &kp BACKSPACE  &kp ENTER   &kp SPACE    &lt 3 INT_HENKAN  &trans  &trans     &kp RGUI  &lt 5 RIGHT_GUI  &kp RCTRL
            >;
        };

        mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans          &trans                 &trans            &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &msc SCRL_LEFT  &msc SCRL_UP           &msc SCRL_RIGHT   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK       &msc SCRL_DOWN         &mkp RCLK         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_AC_BACK   &scroll_middle 2 MCLK  &kp C_AC_FORWARD  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans                 &trans            &trans  &trans
            >;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans          &trans          &trans            &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_RIGHT   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &mkp LCLK       &msc SCRL_DOWN  &mkp RCLK         &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_AC_BACK   &trans          &kp C_AC_FORWARD  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans            &trans  &trans
            >;
        };

        vim {
            bindings = <
&trans        &trans   &trans         &trans         &trans  &trans                        &trans     &trans     &trans        &trans     &trans     &trans
&trans        &trans   &kp LC(RIGHT)  &kp LC(RIGHT)  &trans  &trans                        &kp LC(C)  &kp LC(Z)  &kp HOME      &trans     &kp LC(V)  &trans
&kp CAPSLOCK  &kp END  &trans         &kp LC(X)      &trans  &trans        &trans  &trans  &kp LEFT   &kp DOWN   &kp UP_ARROW  &kp RIGHT  &trans     &trans
&trans        &trans   &kp DEL        &trans         &trans  &kp LC(LEFT)  &trans  &trans  &trans     &trans     &trans        &trans     &kp LC(F)  &trans
&lt 4 LCTRL   &trans   &trans         &trans         &trans  &trans        &trans  &trans  &trans     &trans     &trans        &trans     &trans     &trans
            >;
        };

        vim_second {
            bindings = <
&trans  &trans  &trans  &trans  &trans         &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp LS(LC(Z))  &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp PAGE_DOWN  &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans         &kp PAGE_UP  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans         &trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        func {
            bindings = <
&kp JA_ZKHK  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                  &kp F6  &kp F7  &kp F8           &kp F9          &kp F10          &kp F11
&trans       &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK  &kp F12
&trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp INS          &kp HOME        &kp PAGE_UP      &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp DELETE       &kp END         &kp PAGE_DOWN    &trans
&trans       &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans           &trans          &trans           &trans
            >;
        };

        setting {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};

&mkp_input_listener { input-processors = <&zip_temp_layer 1 500>; };

&mmv_input_listener { input-processors = <&zip_temp_layer 1 500>; };

&msc_input_listener { input-processors = <&zip_temp_layer 1 500>; };
